
<html>
    <head>
        <%= javascript_include_tag "jquery" %>
        <%= javascript_include_tag "bootstrap" %>
        <%= javascript_include_tag "modal" %>

        <%= stylesheet_link_tag "bootstrap" %>

    <style>
    body {
      -moz-user-select: none;
    }

    .primary-row {
        background-color: lightgray;
        font-size: 1.12em;
        padding: 10px;
        color: rgba(0,0,0,0.85);
        font-weight: bold;
        width: 14.27%;
        padding-left: 10px;
    }
    .main-container {
      width: 100%;
      height: 100%;
    }

    .header {
      background-image: linear-gradient(to bottom, #428bca 0px, #357ebd 100%);
      background-repeat: repeat-x;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-sizing: border-box;
      color: white;
      padding: 10px 15px;
    }

    .patients-div {
      width: 100%;
      height: 85%;
    }

    .list-patients {
      background-color: transparent;
      width: 100%;
      /*margin-bottom: 20px;
      box-sizing: border-box;
      border-collapse: collapse;
      border-spacing: 0;*/

    }

    th {
      text-align: left;
    }

    td {
      text-align: left;
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
      font-size: 18px;
    }

    .footer {
      bottom: 6px;
      height: 100px;
      position: fixed;
      width: 100%;
      margin: auto;
      background-color: #333333;
      display: block;
      height: 80px;
      padding-right: 20px;
    }

    .btn-home {
        background-image: linear-gradient(to bottom, #5cb85c 0px, #5cb85c 100%);
        background-repeat: repeat-x;
        border-color: #5cb85c;
        margin-top: 10px;
        margin-left: 10px;
        min-width: 140px;
        float: left;
        -moz-user-select: none;
        border: 0 none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4em;
        height: 80%;
    }

    .btn-new-patient {
      background-image: linear-gradient(to bottom, #5bc0de 0px, #5bc0de 100%);
      background-repeat: repeat-x;
      border-color: #5bc0de;
      margin-top: 10px;
      margin-left: 10px;
      min-width: 140px;
      float: right;
     -moz-user-select: none;
      border: 0 none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4em;
      height: 80%;
    }


    .even{
        background-color: #f9f9f9;
    }
    .odd{
        background-color: white;
    }


    .row{
        cursor: pointer;
    }
    .data{
        border: 1px solid lightgray;
        padding: 13px;
        padding-left: 20px;
        width: 14.3%;
        font-size: 1.3em;
      }
       .patients-div {
        display: flex;
        border: 1px solid gray;
        overflow: auto;
        height: 79%;
        width: 100%;
    }
    .patient-row{
        cursor: pointer;
    }
    .no-patients{
        position: absolute;
        top: 35%;
        left: 0%;
        width: 100%;
        font-style: italic;
        font-weight: bold;
        font-size: 1.8em;
        text-align: center;
    }
    .source{
        font-style: italic;
        color:green;
    }
    .red{
        color: darkred;
    }
    </style>

        <script>

        function newPatient() {

          <%unless params[:name].blank?%>
          document.location = "/people/new?given_name=<%=params[:name][:given_name]%>&"+
                  "family_name=<%=params[:name][:family_name]%>&gender=<%=params[:gender]%>" + "&identifier=<%= params[:identifier]%>";
          <%else%>
          document.location = "/people/new"
          <%end%>
        }

        function route(url, row){
            if (url.match(/0$/)){
                //build a form of remote params
                var nodes = row.getElementsByClassName('data')
                var data = {
                    'patient_number' : nodes[0].innerHTML,
                    'external_patient_number' : nodes[1].innerHTML,
                    'name' : nodes[2].innerHTML,
                    'gender' : nodes[3].innerHTML,
                    'dob' : nodes[4].innerHTML,
                    'address' : nodes[5].innerHTML
            }
                var form = document.createElement("form")
                form.action = url;
                document.body.appendChild(form);
                for(var k in data){
                    var input = document.createElement('input');
                    input.setAttribute('name', k);
                    input.value = data[k];
                    input.setAttribute('type', 'hidden');
                    form.appendChild(input);
                }
                form.submit();
            }else{
                window.location = url;
            }
        }
    </script>

</head>
<body>

    <div class="main-container">

      <div class="header">
        <h3>Patients <%= !params[:identifier].blank? ? ('with identifier ' + params[:identifier]) : ""%></h3>
      </div>

      <div class="patients-header">
        <table class="list-patients">
          <thead>
            <tr class="primary-row">
              <td class="primary-row" style="width: 10%;">Patient No.</td>
              <td class="primary-row">Ext. patient #</td>
              <td style="width:19%;" class="primary-row">Patient Name</td>
              <td class="primary-row">Sex</td>
              <td class="primary-row">Date of Birth</td>
              <td class="primary-row">Physical Address</td>
              <td class="primary-row">Source</td>

            </tr>
          </thead>
        </table>
      </div>

      <div class="patients-div">
        <table class="list-patients">
          <tbody>
          <%(@patients || []).each do |patient|%>
          <tr class="patient-row <%= cycle('even', 'odd')%>" onmousedown="route('/people/view?patient_id=' + <%=patient['id'] || '0'%>, this)">
            <td style="width:10%;" class="data"><%= (patient['patient_number'] || '?')%></td>
            <td class="data"><%=patient['external_patient_number']%></td>
            <td style="width:18.6%;"  class="data"><%=patient['name'].squish%></td>
            <td class="data"><%=patient['gender'] == 0  ? 'Male' : 'Female'%></td>
            <td class="data"><%=(patient['dob'].to_date.strftime('%d-%m-%Y') rescue "N/A")%></td>
            <td class="data"><%=patient['address']%></td>
            <td class="source <%= patient['patient_number'].to_i == 0 ? 'red' : 'normal'%>"><span><%=patient['patient_number'].to_i == 0 ? 'Remote' : 'Local'%></span></td>

          </tr>
          <%end%>
          </tbody>
        </table>
        <% if @patients.blank?%>
            <div class="no-patients">
                No records matched! <br />
              Create a new patient by clicking <span style="color: blue; font-style: italic">  'New patient'</span> below
            </div>
        <% end %>
      </div>

    </div>


    <div class="footer">
      <button class="btn-home btn-lg btn-success" onmousedown="document.location='/'">|< Back Home</button>
      <button class="btn-new-patient btn-lg btn-primary" onmousedown="newPatient();">New patient</button>
    </div>

  </body>

</html>
