
<html>
    <head>
        <%= javascript_include_tag "jquery" %>
        <%= javascript_include_tag "bootstrap" %>
        <%= javascript_include_tag "modal" %>

        <%= stylesheet_link_tag "bootstrap" %>

    <style>
    body {
      -moz-user-select: none;
    }

    .primary-row {
        background-color: lightgray;
        font-size: 1.12em;
        padding: 10px;
        color: rgba(0,0,0,0.85);
        font-weight: bold;
    }
    .main-container {
      width: 100%;
      height: 100%;
    }

    .header {
      background-image: linear-gradient(to bottom, #428bca 0px, #357ebd 100%);
      background-repeat: repeat-x;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-sizing: border-box;
      color: white;
      padding: 10px 15px;
    }

    .patients-div {
      width: 100%;
      height: 85%;
    }

    .list-patients {
      background-color: transparent;
      width: 100%;
      /*margin-bottom: 20px;
      box-sizing: border-box;
      border-collapse: collapse;
      border-spacing: 0;*/

    }

    th {
      text-align: left;
    }

    td {
      text-align: left;
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
      font-size: 18px;
    }

    .footer {
      bottom: 6px;
      height: 100px;
      position: fixed;
      width: 100%;
      margin: auto;
      background-color: #333333;
      display: block;
      height: 80px;
      padding-right: 20px;
    }

    .btn-home {
        background-image: linear-gradient(to bottom, #5cb85c 0px, #5cb85c 100%);
        background-repeat: repeat-x;
        border-color: #5cb85c;
        margin-top: 10px;
        margin-left: 10px;
        min-width: 140px;
        float: left;
        -moz-user-select: none;
        border: 0 none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4em;
        height: 80%;
    }

    .btn-new-patient {
      background-image: linear-gradient(to bottom, #5bc0de 0px, #5bc0de 100%);
      background-repeat: repeat-x;
      border-color: #5bc0de;
      margin-top: 10px;
      margin-left: 10px;
      min-width: 140px;
      float: right;
     -moz-user-select: none;
      border: 0 none;
      color: white;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4em;
      height: 80%;
    }


    .even{
        background-color: #f9f9f9;
    }
    .odd{
        background-color: white;
    }


    .row{
        cursor: pointer;
    }
    .data{
        border: 1px solid lightgray;
      }
    .patients-div {
        display: flex;
        border: 1px solid gray;
        overflow: auto;
        width: 100%;
    }
    .patient-row{
        cursor: pointer;
    }
    </style>

        <script>

        function newPatient() {

          <%unless params[:name].blank?%>
          document.location = "/people/new?given_name=<%=params[:name][:given_name]%>&family_name=<%=params[:name][:family_name]%>&gender=<%=params[:gender]%>";
          <%else%>
          document.location = "/people/new"
          <%end%>
        }

    </script>

</head>
<body>

    <div class="main-container">

      <div class="header">
        List patients
      </div>

      <div class="patients-div">
        <table class="list-patients">
          <thead>
            <tr class="primary-row">
              <td class="primary-row">Patient No.</td>
              <td class="primary-row">External Patient No.</td>
              <td class="primary-row">Patient Name</td>
              <td class="primary-row">Sex</td>
              <td class="primary-row">Date of Birth</td>
              <td class="primary-row">Physical Address</td>
            </tr>
          </thead>
          <tbody>
          <%(@patients || []).each do |patient|%>
          <tr class="patient-row <%= cycle('even', 'odd')%>" onmousedown="window.location='/people/view?patient_id=' + <%=patient.patient_number%>">
            <td class="data"><%=patient.patient_number%></td>
            <td class="data"><%=patient.external_patient_number%></td>
            <td class="data"><%=patient.name%></td>
            <td class="data"><%=patient.gender == 0  ? 'Male' : 'Female'%></td>
            <td class="data"><%=patient.dob.to_date.strftime('%d-%m-%Y')%></td>
            <td class="data"><%=patient.address%></td>
          </tr>
          <%end%>
          </tbody>
        </table>
      </div>

    </div>


    <div class="footer">
      <button class="btn-home" onmousedown="document.location='/'">|< Back Home</button>
      <button class="btn-new-patient" onmousedown="newPatient();">New patient</button>
    </div>

  </body>

</html>