
<%= stylesheet_link_tag 'extras/main-dashboard' %>

<style>

</style>

<div class="main-container">

<div class="left-container">
  <div class="left-container-header">
    Home Page
  </div>
  
  <div class="left-container-barcode-scanner">
    <span class="icons"><%= image_tag("extras/barcode-2.png", class: "logo") %></span>
    <input type="text" name="scanned-barcode" id="barcode-txt" />
  </div>
  <div class="left-container-passport">
    <span class="icons"><%= image_tag("extras/passport.png", class: "passport") %></span>
    <span class="icons"><%= image_tag("extras/barcode-scaner.png", class: "barcode-scaner") %></span>
  </div>
</div>


<div class="right-container">
  
  <table id="apps" style="width: 100%;height: 100%;">
    <tr>
      <td>
        <a class="button app big" href="/people/find" id="">
          <span class="icons"><%= image_tag("extras/person.png", class: "logo") %></span> 
          <p>Find/Register patient</p>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="button app big" href="/search/find patient record" id="">
          <span class="icons"><%= image_tag("extras/test-tube-icon.png", class: "logo") %></span> 
          <p>Tests</p>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a class="button app big" href="/search/find patient record" id="">
          <span class="icons"><%= image_tag("extras/logout.png", class: "logo") %></span> 
          <p>Tests</p>
        </a>
      </td>
    </tr>


   </table>

</div>



</div>
