
<%= stylesheet_link_tag 'extras/main-dashboard' %>

<title>iBlis Reception</title>
<style>

</style>

<div class="main-container">

<div class="panel left-container">
  <div class="left-container-header">
    <h3>Home Page</h3>
  </div>
  
  <div class="left-container-barcode-scanner">
    <span class="icons"><%= image_tag("extras/barcode-2.png", class: "logo") %></span>
    <input type="text" name="scanned-barcode" id="barcode-txt" />
  </div>
  <div class="left-container-passport">
    <span class="icons"><%= image_tag("extras/passport.png", class: "passport") %></span>
    <span class="icons"><%= image_tag("extras/barcode-scaner.png", class: "barcode-scaner") %></span>
  </div>
</div>


<div class="right-container">
  <!-- buttons start here -->
  <div class="table-container-row">
    <div id="apps" style="width: 100%; text-align: center;" class="table-cell">
      <div class="button-div app big" onmousedown="document.location='/people/find'" id="">
        <span class="icons"><%= image_tag("extras/person.png", class: "logo") %></span>
        <p>Find/Register patient</p>
      </div>
    </div>
  </div>

  <div class="table-container-row">
    <div id="apps" style="width: 100%; text-align: center;" class="table-cell">
      <div class="button-div app big" onmousedown="document.location='/tests/all'" id="">
        <span class="icons"><%= image_tag("extras/test-tube-icon.png", class: "logo") %></span> 
        <p>Tests</p>
      </div>
    </div>
  </div>

  <div class="table-container-row">
    <div id="apps" style="width: 100%; text-align: center;" class="table-cell">
      <div class="button-div app big" onmousedown="document.location='/login'" id="" style="background-color: tomato; color: black;">
        <span class="icons"><%= image_tag("extras/logout.png", class: "logo") %></span> 
        <p>Logout</p>
      </div>
    </div>
  </div>
  <!-- buttons ends here -->


</div>




</div>

<script>

function focusForBarcodeInput(){
  var barcode = document.getElementById("barcode-txt");
  if (barcode) 
    barcode.focus();

}

function barcodeScan(){
  usertext=document.getElementById("barcode-txt");
  if (usertext.value.match(/.+\$$/i) != null){
    usertext.value=usertext.value.substring(0,usertext.value.length -1);
    document.location = "/people/find?identifier=" + usertext.value;
  }
}

setInterval("focusForBarcodeInput();",300);
setInterval("barcodeScan();",300);



</script>
