

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "bootstrap" %>
<%= stylesheet_link_tag "bootstrap" %>

<style>
    body{
        -moz-user-select: none;
    }
    .content{
        width: 100%;
        height: 100%;
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer {
        bottom: 2px;
        height: 100px;
        position: fixed;
        width: 100%;
        background-color: #333333;
        display: block;
        height: 80px;
        padding-right: 20px;
    }

    .btn-home {
        background-image: linear-gradient(to bottom, #5cb85c 0px, #5cb85c 100%);
        background-repeat: repeat-x;
        border-color: #5cb85c;
        margin-top: 10px;
        margin-left: 10px;
        min-width: 140px;
        float: left;
        -moz-user-select: none;
        border: 0 none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4em;
        height: 80%;
    }

    .btn-save{
        background-image: linear-gradient(to bottom, #5bc0de 0px, #5bc0de 100%);
        background-repeat: repeat-x;
        border-color: #5bc0de;
        margin-top: 10px;
        margin-left: 10px;
        min-width: 140px;
        float: right;
        -moz-user-select: none;
        border: 0 none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4em;
        height: 80%;
    }

    .view{
        font-size: 1.18em;
        opacity: 0.95;
        padding: 6px;
    }
    .view:hover {
        background-color: #F5F5F5;
    }

    .btn-header{
        font-size: 1.1em;
        font-weight: bold;
    }
        .panel{

        }

</style>

<script>

</script>
<div class="content">

<div class="panel-info header header"  style="padding: 0px !important;">
  <div class="panel-heading" style="margin: 0px; padding: 0px;">
    <table class="table" style="margin:0px;padding:0px;border: none;">
      <tr class="row" >
        <td class='pull-left' style="width: 80%;padding: 0px;margin: 0px;border: none;padding-left: 20px;">
          <% if !@is_supported_test %>
            <h3 ><strong>Test Details (<span style="width: 100%;color: red;"> Test Not supported at Site</span>)</strong></h3>
          <% else %>
              <h3 ><strong>Test Details </strong></h3>
        <% end %>
        </td>
        <td style="padding-left: 0px;border: none;">

        </td>
        <td style="padding-left: 10px; border: none;">

        </td>

        <td style="padding-left: 10px; border: none;">

        </td>
      </tr>
    </table>

  </div>
</div>

<div class="panel-body">
  <div class="display-details">

    <table class="table pull-left" style="width:48%;font-size: 1.15em;">
      <tr  class="view">
        <td  style="width: 40%;">
          <p><strong>Test Types</strong></p>
        </td>
        <td>
          <% @data['data']['tests'].keys.each do |tst| %>
            <p > <%= tst %> </p>
          <%end%>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>
      <tr class="view">
        <td>
          <p ><strong>Date Ordered</strong></p>
        </td>
        <td>
         
          <p ><%= @data['data']['other']['date_created']%></p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>
      <tr class="view">
        <td>
          <p ><strong>Receipt Date</strong></p>
        </td>
        <td>
          <p ><%= @data['data']['other']['date_created']%></p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>
      <tr class="view">
        <td>
          <p ><strong>Sending Facility</strong></p>
        </td>
        <td>
          <p ><%= @data['data']['other']['sending_lab']%>&nbsp;</p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>
      <tr class="view">
        <td>
          <p><strong>Receiving Facility</strong></p>
        </td>
        <td>
          <p> <%= @data['data']['other']['receiving_lab']%>&nbsp;</p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>

      <tr class="view">
        <td>
          <p><strong>Requesting Ward/Location</strong></p>
        </td>
        <td>
          <p ><%= @data['data']['other']['order_location']%>&nbsp;</p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>

      <tr class="view">
        <td>
          <p><strong>Ordered By</strong></p>
        </td>
        <td>
        
          <p ><%= @data['data']['other']['sample_created_by']['name'].split(" ")[0]%> <%= @data['data']['other']['sample_created_by']['name'].split(" ")[1]%>&nbsp;</p>
        </td>
        <td style="width: 5%;">
          &nbsp;
        </td>
      </tr>

<% if false %>
      <tr >
        <td colspan="3">
          <h3><b>Test Results</b></h3>
          <% (@data['test_types'] || []).each do |test|%>
          <div class="panel panel-info" > <!-- Orderer -->
            <div class="panel-heading">
              <h3 class="panel-title"><b>Test Name</b></h3>
            </div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <p><strong> Result 1</strong></p>
                  </div>
                  <div class="col-md-8">
                    <%= 'Positive'%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Result 2</strong></p>
                  </div>
                  <div class="col-md-8">
                    <%= 'Negative'%>
                  </div>
                </div>

              </div>
            </div>
          </div>
              <% end %>
        </td>
      </tr>
    <% end %>
    </table>

    <div style="width:48%; font-size: 1.12em" class="pull-right">
      <div class="panel panel-info">  <!-- Patient Details -->
        <div class="panel-heading">
          <h3 class="panel-title"><b>Patient Details</b></h3>
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <p><strong>Patient No.</strong></p></div>
              <div class="col-md-9">
              
                <%= @data['data']['other']['patient']['id']%></div></div>
            <div class="row">
              <div class="col-md-3">
                <p><strong>Patient Name</strong></p></div>
              <div class="col-md-9">
                <%= @data['data']['other']['patient']['name'].split(" ")[0]+ @data['data']['other']['patient']['name'].split(" ")[1]  %></div></div>
            <div class="row">
              <div class="col-md-3">
                <p><strong>Date of Birth</strong></p></div>
              <div class="col-md-9">
                <%= @data['data']['other']['patient']['dob']%></div></div>
            <div class="row">
              <div class="col-md-3">
                <p><strong>Sex</strong></p></div>
              <div class="col-md-9">
                <%= {'F' => 'Female', 'M' => 'Male'}[@data['data']['other']['patient']['gender']]%>
              </div></div>
          </div>
        </div> <!-- ./ panel-body -->
      </div>
      <div class="panel panel-info"> <!-- Specimen Details -->
        <div class="panel-heading">
          <h3 class="panel-title"><b>Specimen Details</b></h3>
        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <p><strong>Specimen Type</strong></p>
              </div>
              <div class="col-md-8">
            
                <%= @data['data']['other']['sample_type']%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Tracking Number</strong></p>
              </div>
              <div class="col-md-8">
                <%= @trac_number%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Accession Number</strong></p>
              </div>
              <div class="col-md-8">
                <%= Specimen.where(:tracking_number => @trac_number).last.accession_number rescue nil%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Specimen Status</strong></p>
              </div>
              <div class="col-md-8">
                <%= @data['data']['other']['specimen_status']%>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>


<form id = 'data-form' action="/test/save_remote" method="POST">
  <input type="hidden" value="<%= params[:identifier]%>" name="identifier"/>
  <input type="hidden" value="<%= @data.to_json%>" name="data"/>
</form>


    <div class="footer">
      <button class="btn-home btn btl-lg btn-success" onmousedown="document.location='/'">|< Back Home</button>
      <% if @is_supported_test %>
        <button class="btn-save btn btl-lg btn-success" onmousedown="document.getElementById('data-form').submit();"> Proceed </button>
      <% end %>
    </div>



